<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>category</title>
</head>
<body>
<table border="1px">
    <tr th:each="category:${categorys}">
        <td th:text="${category.name}"></td>
        <td><a href="">删除</a></td>
        <td><a href="/category/nike">编辑</a></td>
    </tr>
</table>

<form action="/category" method="post">
    <table>
        <tr>
            <td>名称</td>
            <td><input type="text" name="name" /></td>
            <td><input type="submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>