<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="login" method="post">
<table>
    <tr>
        <td th:text="#{login.username}"></td>
        <td><input name="userName" type="text"/></td>
    </tr>
    <tr>
        <td th:text="#{login.password}"></td>
        <td><input name="Password" type="password"/></td>
    </tr>
    <tr>
        <p style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <td><input type="submit" value="登录"/></td>
    </tr>
    <tr>
        <td><a href="index.html?language=zh_CN">中文</a></td>
        <td><a href="index.html?language=en_US">英文</a></td>
    </tr>

</table>
</form>
</body>
</html>